# 過去のデータを入れるための列を追加する

## 方針

1. 2001年のデータをコピーする．
2. year列を2000, 1995に書き換える．
3. population, income列を空白にする．
4. 結合する．

In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [22]:
filepath = '../../data/raw/df.xlsx'
df = pd.read_excel(filepath, engine='openpyxl')
df.head()

,island,year,island_id,region_code,region_name,prefecture_code,prefecture_code.1,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income
0,島後,2000.0,0.0,NaN,隠岐の島町,32.0,島根県,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,島後,2001.0,0.0,NaN,隠岐の島町,32.0,島根県,17930.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,島後,2002.0,0.0,NaN,隠岐の島町,32.0,島根県,17865.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,島後,2003.0,0.0,NaN,隠岐の島町,32.0,島根県,17704.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,島後,2004.0,0.0,NaN,隠岐の島町,32.0,島根県,17535.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [23]:
df_2001 = df[df['year'] == 2001]
df_2001.head()

,island,year,island_id,region_code,region_name,prefecture_code,prefecture_code.1,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income
1,島後,2001.0,0.0,NaN,隠岐の島町,32.0,島根県,17930.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
25,中ノ島,2001.0,1.0,32525.0,海士町,32.0,島根県,2675.0,0.0,0.0,0.0,0.0,0.0,0.0,2609567.0
49,西ノ島,2001.0,2.0,32526.0,西ノ島町,32.0,島根県,3875.0,0.0,0.0,0.0,0.0,0.0,0.0,3607598.0
73,知夫里島,2001.0,3.0,32527.0,知夫村,32.0,島根県,748.0,0.0,0.0,0.0,0.0,0.0,0.0,606605.0
103,鹿久居島,2001.0,6.0,33342.0,日生町,33.0,岡山県,17.0,1.0,1.0,2015.0,0.0,2015.0,0.0,10462327.0

In [24]:
df_2000 = df_2001.copy()
df_2000['year'] = 2000
df_2000['population'] = ''
df_2000['income'] = ''
df_2000 = df_2000[~df_2000.set_index(['island_id', 'year']).index.isin(df.set_index(['island_id', 'year']).index)]
df_2000.head()

,island,year,island_id,region_code,region_name,prefecture_code,prefecture_code.1,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income
265,六口島,2000,17.0,33202.0,倉敷市,33.0,岡山県,,0.0,0.0,0.0,0.0,0.0,0.0,
285,高島,2000,18.0,33205.0,笠岡市,33.0,岡山県,,0.0,0.0,0.0,0.0,0.0,0.0,
305,白石島,2000,19.0,33205.0,笠岡市,33.0,岡山県,,0.0,0.0,0.0,0.0,0.0,0.0,
325,北木島,2000,20.0,33205.0,笠岡市,33.0,岡山県,,0.0,0.0,0.0,0.0,0.0,0.0,
345,真鍋島,2000,21.0,33205.0,笠岡市,33.0,岡山県,,0.0,0.0,0.0,0.0,0.0,0.0,

In [25]:
df_1995 = df_2001.copy()
df_1995['year'] = 1995
df_1995['population'] = ''
df_1995['income'] = ''
df_1995 = df_1995[~df_1995.set_index(['island_id', 'year']).index.isin(df.set_index(['island_id', 'year']).index)]
df_1995.head()

,island,year,island_id,region_code,region_name,prefecture_code,prefecture_code.1,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income
1,島後,1995,0.0,NaN,隠岐の島町,32.0,島根県,,0.0,0.0,0.0,0.0,0.0,0.0,
202,犬島,1995,14.0,33201.0,（旧）岡山市,33.0,岡山県,,0.0,0.0,0.0,0.0,0.0,0.0,
223,石島,1995,15.0,33204.0,玉野市,33.0,岡山県,,0.0,0.0,0.0,0.0,0.0,0.0,
244,松島,1995,16.0,33202.0,倉敷市,33.0,岡山県,,0.0,0.0,0.0,0.0,0.0,0.0,
265,六口島,1995,17.0,33202.0,倉敷市,33.0,岡山県,,0.0,0.0,0.0,0.0,0.0,0.0,

In [26]:
df = pd.concat([df, df_2000, df_1995], ignore_index=True)
df = df.sort_values(['island_id', 'year']).reset_index(drop=True)
df

,island,year,island_id,region_code,region_name,prefecture_code,prefecture_code.1,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income
0,島後,1995.0,0.0,NaN,隠岐の島町,32.0,島根県,,0.0,0.0,0.0,0.0,0.0,0.0,
1,島後,2000.0,0.0,NaN,隠岐の島町,32.0,島根県,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,島後,2001.0,0.0,NaN,隠岐の島町,32.0,島根県,17930.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,島後,2002.0,0.0,NaN,隠岐の島町,32.0,島根県,17865.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,島後,2003.0,0.0,NaN,隠岐の島町,32.0,島根県,17704.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,沖の島,2017.0,163.0,39208.0,宿毛市,39.0,高知県,168.0,0.0,0.0,0.0,0.0,0.0,0.0,19737157.0
3333,沖の島,2018.0,163.0,39208.0,宿毛市,39.0,高知県,159.0,0.0,0.0,0.0,0.0,0.0,0.0,20334583.0
3334,沖の島,2019.0,163.0,39208.0,宿毛市,39.0,高知県,153.0,0.0,0.0,0.0,0.0,0.0,0.0,20970351.0
3335,沖の島,2020.0,163.0,39208.0,宿毛市,39.0,高知県,150.0,0.0,0.0,0.0,0.0,0.0,0.0,20781354.0
3336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
output_filepath = '../../data/raw/df_add_1995_2000.xlsx'
df.to_excel(output_filepath, index=False)