# 遠すぎる島を除外する．

世界で最も長い吊橋としてギネス記録に認定されているのは．明石海峡大橋．

この橋は中央支間が1,991メートル．

これより距離がある島に橋をかけるのは技術的に困難であるため，遠すぎる島をサンプルから排除する．

In [8]:
import pandas as pd
import numpy as np

filepath = '../../data/raw/df.xlsx'
df = pd.read_excel(filepath)
df.head()

,island,year,island_id,region_code,region_name,prefecture_code,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,prefecture_name,area_km2,distance_m
0,島後,1980,62,32528,隠岐の島町,32,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
1,島後,1985,62,32528,隠岐の島町,32,19675.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
2,島後,1990,62,32528,隠岐の島町,32,19090.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
3,島後,1995,62,32528,隠岐の島町,32,18367.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0
4,島後,2000,62,32528,隠岐の島町,32,17995.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,島根県,241.53,67840.0

In [5]:
df_exclude_too_far_islands = df[df['distance_m'] <= 1991]

In [7]:
output_filepath = '../../data/raw/df_exclude_too_far_islands.xlsx'
df_exclude_too_far_islands.to_excel(output_filepath, index=False)