# 人口データと課税所得データを結合する．

In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [8]:
df = pd.read_excel('../../data/raw/df.xlsx')
df = df.where(pd.notnull(df), None)
df

,island,year,island_id,region_code,region_name,prefecture_code,prefecture_code.1,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income
0,島後,1995,0,32528,隠岐の島町,32,島根県,NaN,0,0,0,0,0,0,NaN
1,島後,2000,0,32528,隠岐の島町,32,島根県,NaN,0,0,0,0,0,0,NaN
2,島後,2001,0,32528,隠岐の島町,32,島根県,17930.0,0,0,0,0,0,0,NaN
3,島後,2002,0,32528,隠岐の島町,32,島根県,17865.0,0,0,0,0,0,0,NaN
4,島後,2003,0,32528,隠岐の島町,32,島根県,17704.0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,沖の島,2016,163,39208,宿毛市,39,高知県,175.0,0,0,0,0,0,0,19393764.0
3332,沖の島,2017,163,39208,宿毛市,39,高知県,168.0,0,0,0,0,0,0,19737157.0
3333,沖の島,2018,163,39208,宿毛市,39,高知県,159.0,0,0,0,0,0,0,20334583.0
3334,沖の島,2019,163,39208,宿毛市,39,高知県,153.0,0,0,0,0,0,0,20970351.0
3335,沖の島,2020,163,39208,宿毛市,39,高知県,150.0,0,0,0,0,0,0,20781354.0

In [9]:
df_income = pd.read_csv('../../data/raw/taxable_income.csv', encoding='utf-8')

df['region_code'] = df['region_code'].astype(float)
df_income['region_code'] = df_income['region_code'].astype(float)

In [11]:
merged_df = pd.merge(df, df_income[['year', 'region_code', 'taxable_income']], on=['year', 'region_code'], how='left')
# Step 1: Check for missing values in 'income' and 'taxable_income' columns
# Step 2: Fill missing values in 'income' with values from 'taxable_income'
# Step 3: Fill missing values in 'taxable_income' with values from 'income'
# Step 4: Create a new column 'combined_income' with the filled values

merged_df['combined_income'] = merged_df['income'].combine_first(merged_df['taxable_income'])
merged_df

,island,year,island_id,region_code,region_name,prefecture_code,prefecture_code.1,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income,taxable_income,combined_income
0,島後,1995,0,32528.0,隠岐の島町,32,島根県,NaN,0,0,0,0,0,0,NaN,NaN,NaN
1,島後,2000,0,32528.0,隠岐の島町,32,島根県,NaN,0,0,0,0,0,0,NaN,NaN,NaN
2,島後,2001,0,32528.0,隠岐の島町,32,島根県,17930.0,0,0,0,0,0,0,NaN,NaN,NaN
3,島後,2002,0,32528.0,隠岐の島町,32,島根県,17865.0,0,0,0,0,0,0,NaN,NaN,NaN
4,島後,2003,0,32528.0,隠岐の島町,32,島根県,17704.0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,沖の島,2016,163,39208.0,宿毛市,39,高知県,175.0,0,0,0,0,0,0,19393764.0,19393764.0,19393764.0
3332,沖の島,2017,163,39208.0,宿毛市,39,高知県,168.0,0,0,0,0,0,0,19737157.0,19737157.0,19737157.0
3333,沖の島,2018,163,39208.0,宿毛市,39,高知県,159.0,0,0,0,0,0,0,20334583.0,20334583.0,20334583.0
3334,沖の島,2019,163,39208.0,宿毛市,39,高知県,153.0,0,0,0,0,0,0,20970351.0,20970351.0,20970351.0
3335,沖の島,2020,163,39208.0,宿毛市,39,高知県,150.0,0,0,0,0,0,0,20781354.0,20781354.0,20781354.0

In [13]:
df['income'] = merged_df['combined_income']
df

,island,year,island_id,region_code,region_name,prefecture_code,prefecture_code.1,population,dummy_island_has_bridge,dummy_island_is_connected_mainland,year_bridge_opened,dummy_after_bridge_opened,year_connect_mainland,dummy_after_connect_mainland,income
0,島後,1995,0,32528.0,隠岐の島町,32,島根県,NaN,0,0,0,0,0,0,NaN
1,島後,2000,0,32528.0,隠岐の島町,32,島根県,NaN,0,0,0,0,0,0,NaN
2,島後,2001,0,32528.0,隠岐の島町,32,島根県,17930.0,0,0,0,0,0,0,NaN
3,島後,2002,0,32528.0,隠岐の島町,32,島根県,17865.0,0,0,0,0,0,0,NaN
4,島後,2003,0,32528.0,隠岐の島町,32,島根県,17704.0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,沖の島,2016,163,39208.0,宿毛市,39,高知県,175.0,0,0,0,0,0,0,19393764.0
3332,沖の島,2017,163,39208.0,宿毛市,39,高知県,168.0,0,0,0,0,0,0,19737157.0
3333,沖の島,2018,163,39208.0,宿毛市,39,高知県,159.0,0,0,0,0,0,0,20334583.0
3334,沖の島,2019,163,39208.0,宿毛市,39,高知県,153.0,0,0,0,0,0,0,20970351.0
3335,沖の島,2020,163,39208.0,宿毛市,39,高知県,150.0,0,0,0,0,0,0,20781354.0

In [15]:
output_filepath = '../../data/raw/df.xlsx'
df.to_excel(output_filepath, index=False)